[submodule "of-extension"]
	path = flexcomm-openflow-extension
	url = git@github.com:dulive/flexcomm-openflow-extension.git
[submodule "energy-client"]
	path = flexcomm-onos-energy
	url = git@github.com:dulive/flexcomm-onos-energy.git
[submodule "netcfglinksprovider"]
	path = flexcomm-onos-netcfglinksprovider
	url = git@github.com:dulive/flexcomm-onos-netcfglinksprovider.git
[submodule "flexcomm-onos-statistics"]
	path = flexcomm-onos-statistics
	url = git@github.com:dulive/flexcomm-onos-statistics.git
[submodule "flexcomm-onos-fwd"]
	path = flexcomm-onos-fwd
	url = git@github.com:dulive/flexcomm-onos-fwd.git
