[submodule "of-extension"]
	path = of-extension
	url = git@github.com:dulive/of-extension.git
[submodule "fwd"]
	path = fwd
	url = git@github.com:dulive/fwd.git
[submodule "energy-client"]
	path = energy-client
	url = git@github.com:dulive/energy-client.git
[submodule "netcfglinksprovider"]
	path = netcfglinksprovider
	url = git@github.com:dulive/netcfglinksprovider.git
